@import './../../../styling/variables.scss';

.areas-of-expertise {
  @media (min-width: 992px) {
    width: 85%;
    margin-top: 40px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
      margin-top: 30px;
    }
  }

  &__slider {
    text-align: -webkit-center;
  }

  .slick-next,
  .slick-prev {
    color: $white;

    &:before {
      color: $royal-blue;
      font-size: 30px;
    }
  }
}
