@import './../../../styling/variables.scss';

.areas-of-expertise {
  width: 85%;

  &-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .slick-next, .slick-prev {
    color: $white;

    &:before {
      color: $powder-blue;
      font-size: 30px;
    }
  }
}
