@import './../../styling/variables.scss';

.clients {
  &__title {
    font-family: $lato;
    font-size: 35px;
    color: $royal-blue;
    width: 100%;
    padding-bottom: 24px;

    @media (max-width: 992px) {
      font-size: 30px;
      text-align: center;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;

    img {
     max-width: 1000px;
    }
  }

}