@import './../../styling/variables.scss';

.header {
  height: 100%;

  &-wrapper {
    background-color: $royal-blue;
    background-size: cover;
    min-height: 300px;
    color: white;
    display: flex;
    align-items: flex-end;

    @media (max-width: 992px) {
      min-height: 300px;
      text-align: center;
    }
  }

  &__title {
    font-family: $praxis;
    font-size: 50px;
    padding: 16px 0;

    @media (max-width: 992px) {
      font-size: 25px;
    }

  }

  &__info {
    font-family: $praxis;
    font-size: 25px;
    font-style: italic;
    display: flex;
    height: fit-content;
    max-width: 78%;

    @media (max-width: 992px) {
      font-size: 20px;
      max-width: 100%;
    }
  }
}
