@import './../../styling/variables.scss';

.about-us {
  font-size: 24px;
  color: $royal-blue;
  padding: 32px 0;
  margin-top: 50px;
  text-align: center;

  @media (max-width: 992px) {
    margin-top: 30px;
  }

  &__header {
    font-family: $praxis;
    border-bottom: 1px solid $royal-blue;
    padding-bottom: 16px;
    font-size: 35px;

    @media (max-width: 992px) {
      font-size: 30px;
    }


  }

  &__description {
    font-family: $praxis;
    padding: 24px 150px;
    font-size: 20px;
    
    @media (max-width: 992px) {
      padding: 24px 0;
    }
  }
}
