@import './../../styling/variables.scss';

.nav-bar {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $white;
  padding-bottom: 16px;
  color: $royal-blue;
  font-family: $inter;
  font-size: 20px;

 @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
  }
  
  &--buttons {
    text-align: center;
  }


  a {
    > button {
      justify-content: space-between;
      background: none;
      border: none;
      color: $royal-blue;
      font-family: $inter;
      font-size: 18px;

      &:hover {
        cursor: pointer;
      }

      @media (min-width: 992px) {
        font-size: 20px;
        margin: 0 16px;
      }
    }
  }

  &--logo {
    @media (max-width: 992px) {
      text-align: center;
    }
  }
}
