@import './../../../../styling/variables.scss';

.area-of-expertise-tile {
  $area-of-expertise-tile: &;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 275px;
  margin: 40px;
  padding: 8px;
  box-shadow: 8px 5px 5px $light-grey;
  background-color: $royal-blue;
  transition: background-color 700ms;

  &__description {
    display: none;
    font-size: 20px;
    height: 100%;
  }

  &:hover {
    background-color: $green;
    cursor: pointer;

    #{$area-of-expertise-tile}__title {
      border-bottom: 1px solid $white;
      padding-bottom: 12px;
      height: fit-content;
    }
  }

  &-mobile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    padding: 4px 12px;
    box-shadow: 8px 5px 5px $light-grey;
    background-color: $royal-blue;

    &__expanded {
      height: fit-content;
      display: block;
      background-color: $green;

      #{$area-of-expertise-tile}__description {
        font-size: 22px;
        max-width: 400px;
        margin: 6px auto;
        display: flex;
      }

      #{$area-of-expertise-tile}__title {
        font-size: 25px;
        border-bottom: 1.5px solid $white;
        padding-bottom: 8px;
      }
    }
  }

  &__title,
  &__description {
    color: $white;
    font-family: $praxis;
  }

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
    padding: 4px 0 8px;
    height: 55%;

    @media (max-width: 992px) {
      margin-bottom: 0;
      height: unset;
    }
  }

  .grid-x {
    display: flex;
  }
}
