@import './../../styling/variables.scss';

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 40px;
  background-color: $white;
  box-shadow: 5px 5px 10px $light-grey;

  @media (max-width: 992px) {
    box-shadow: none;
  }

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  &__title {
    font-family: $lato;
    font-size: 35px;
    color: $royal-blue;
    text-align: center;
    width: 100%;
    padding: 24px 0 10px;

    @media (max-width: 992px) {
      font-size: 30px;
      padding: 24px 0;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    border-radius: 8px;

    &-message {
      height: 100px;
    }
  }

  &__submit {
    font-family: $inter;
    color: $royal-blue;
    font-weight: 600;
    background-color: #f2f2f2;
    margin: 30px 70px;
    width: 200px;
    height: fit-content;

    &:hover {
      background-color: $royal-blue;
      color: $white;
    }

    &:focus {
      color: $royal-blue;
      background-color: $white;
    }
  }

  label {
    font-family: $inter;
    color: $royal-blue;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
  }

  input,
  label,
  textarea {
    max-width: 400px;
  }

}
